@import 'tailwindcss';

@theme {
    --font-sans:
        'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* ---------- light theme ---------- */
    --color-primary-background-light: #ffffff;
    --color-primary-light: #587b7f;
    --color-secondary-light: #dee8d5;
    --color-color-emphasis-light: #393e41;
    --color-accent-light: #e9fae3;

    --color-primary-text-light: #000000;
    --color-emphasized-text-light: #ffffff;

    /* ---------- dark theme ---------- */
    --color-primary-background-dark: #393e41;
    --color-primary-dark: #587b7f;
    --color-secondary-dark: #dee8d5;
    --color-emphasis-dark: #ffffff;
    --color-accent-dark: #186777;

    --color-primary-text-dark: #ffffff;
    --color-emphasized-text-dark: #000000;
}

html,
body {
    @apply bg-primary-background-light dark:bg-primary-background-dark;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}
